@{
    ViewBag.Title = "Sunnyvale Nail Bar is the best nail salon in Santa Clara, CA";
}

<!-- -------------------- -->
<!-- START WHY CHOOSE US  -->
<section id="hb-whychooseus" class="hb-whychooseus hb-sectionspace hb-haslayout">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                <div class="hb-sectionhead mb-30">
                    <div class="hb-sectiontitle">
                        <h2>
                            <span>Welcome To</span>
                            Sunnyvale Nail Bar
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="hb-paradisecenter-area hb-haslayout">
                    <figure class="hb-aboutusvideo">

                        <img src="~/Content/img/home-1.jpg" alt="Sunnyvale Nail Bar">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="hb-whychooseus-content">
                    <div class="hb-whychooseus-title">
                        <h3 class="hb-twoheading">Why Choose Us</h3>
                    </div>
                    <div class="hb-description">
                        <p>
                            Located at a beautiful place Mesquite Sunnyvale, we offers the ultimate in pampering
                            and restoring your beauty with our whole-hearted, careful & professional staff.
                            Our nail salon is dedicated to bringing top-of-the-line products mixed with
                            expert techniques to the nail salon industry. Offering many services such as
                            Manicure, Pedicure, and Artificial Nails allows us to be a one-stop destination
                            for those looking for a complete rejuvenating experience. The friendly staff
                            creates an atmosphere of urban relaxation. We are always trying to be innovative
                            with design and trend, always up-to-date with what the industry has to offer.
                        </p>
                        <p>
                            Sunnyvale Nail Bar is a first-class Relaxation and Beauty Nails Spa
                            that promotes comfort, beauty, well-being, and health. We use ONLY the most
                            trusted brands in the beauty industry. Our world-class products, services, and
                            top technologies. Our staff was trained to follow a proper sanitization protocol
                            that puts our customer’s cleanliness as the number one priority.
                        </p>
                        <p>
                            Sunnyvale Nail Bar - Mesquite understands that Safety and Sanitation are very
                            important to customers. Our implements, equipment, and electrical instruments
                            are always thoroughly cleaned and subjected to an approved sanitizing and
                            disinfecting process before being reused. Buffers and files are used only once,
                            then discarded. All pedicure procedures are performed with liner protection. Our
                            staff was trained to follow a proper sanitization protocol that puts our
                            customer’s cleanliness as the number one priority.
                            <br>
                            Please view other tabs to know more about us! Let us be your first choice!
                        </p>
                    </div>
                    <ul class="list-unstyled hb-whychooseus-list">
                        <li>We have the best therapies</li>
                        <li>Customer are happy with us</li>
                        <li>Highly qualified staff</li>
                    </ul>
                    <div class="hb-btnarea">
                        <a href="booking.html" class="hb-btn">Book Now</a>&nbsp;&nbsp;&nbsp;<a href="tel:9725468020" class="hb-btn">Call Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  END WHY CHOOSE US   -->
<!-- -------------------- -->
<!-- -------------------- -->
<!--    START SERVICES    -->
<section id="hb-services" class="hb-services v2 hb-sectionspace hb-bg hb-haslayout pb50">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                <div class="hb-sectionhead mb-50">
                    <div class="hb-sectiontitle">
                        <h2 class="text-capitalize">
                            <span>Sunnyvale Nail Bar</span>
                            our services
                        </h2>
                    </div>
                </div>
            </div>
            <div class="hb-servicesarea hb-haslayout">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="~/Content/img/services/1.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Manicure & Pedicure</h3>
                            <div class="hb-description">
                                <p>Relax and get pampered with many kind of services</p>
                            </div>
                            <a href="services.html?cat=1" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="~/Content/img/services/3.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Dipping & Gel Nails</h3>
                            <div class="hb-description">
                                <p>From Solar Nails, Dipping Nails or Gel Nails, we have it all</p>
                            </div>
                            <a href="services.html?cat=2" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="~/Content/img/services/waxing.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Waxing</h3>
                            <div class="hb-description">
                                <p>We do body & facial waxing for men & women</p>
                            </div>
                            <a href="services.html?cat=3" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="~/Content/img/services/lash.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Eyelash Extensions</h3>
                            <div class="hb-description">
                                <p>Look exquisite with a pair of long, naturally beautiful lashes</p>
                            </div>
                            <a href="services.html?cat=4" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--      END SERVICES    -->
<!-- -------------------- -->
<!-- -------------------- -->
<!--    START GALLERY     -->
<section id="hb-gallery" class="hb-gallery v2 v4 hb-sectionspace hb-haslayout" style="display:block;">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                <div class="hb-sectionhead mb-50">
                    <div class="hb-sectiontitle">
                        <h2>
                            <span>Sunnyvale Nail Bar</span>
                            Our Gallery
                        </h2>
                    </div>
                </div>
            </div>
            <div class=" col-xs-12">
                <div class="hb-gallery-area">
                    <div id="filter-masonry" class="hb-portfolio-content hb-haslayout"
                         style="position: relative; height: 1856.34px;">
                        <div class="masonry-grid massage" style="position: absolute; left: 0px; top: 0px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/13.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/13.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 389px; top: 0px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/14.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/14.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 779px; top: 0px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/2.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/2.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid skincare"
                             style="position: absolute; left: 0px; top: 323px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/1.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/1.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid haircut"
                             style="position: absolute; left: 389px; top: 323px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/3.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/3.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid nailcare"
                             style="position: absolute; left: 779px; top: 323px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/4.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/4.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid beautyspa"
                             style="position: absolute; left: 779px; top: 649px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/5.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/5.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 0px; top: 665px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/6.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 389px; top: 801px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/7.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 779px; top: 1127px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/8.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 0px; top: 1142px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/9.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 389px; top: 1278px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/10.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 779px; top: 1446px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/11.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="masonry-grid massage"
                             style="position: absolute; left: 0px; top: 1532px;">
                            <div class="hb-project">
                                <figure class="hb-galleryimg">
                                    <img src="~/Content/img/gallery/12.jpg" alt="Sunnyvale Nail Bar">
                                    <figcaption class="hb-gallerycontent">
                                        <ul class="list-unstyled hb-roundicon">
                                            <li>
                                                <a href="~/Content/img/gallery/6.jpg" data-fancybox="gallery"
                                                   class="hb-g-icon hover1">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="booking.html" class="hb-btn text-uppercase">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--      END GALLERY     -->
<!-- -------------------- -->
<!-- -------------------- -->
<!--   START APPOINTMENT  -->
<section id="hb-appointment" class="hb-appointment v4 hb-sectionspace hb-haslayout"
         style="background-color:#f5f5f9;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <figure class="hb-appointmentimg">
                    <img src="~/Content/img/sign-1.jpg" alt="Sunnyvale Nail Bar">
                </figure>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class="hb-sectionhead">
                    <div class="hb-sectiontitle">
                        <h2>
                            <span>Sunnyvale Nail Bar</span>
                            Appointment
                        </h2>
                    </div>
                </div>
                <div class="hb-appointmentcontent">
                    <h3>Want to Book an Appointment or Have a Question?</h3>
                    <div class="hb-description">
                        <p>
                            Call us : <strong>(972) 546-8020</strong> for more information <span>
                                or click the
                                button below to book now.
                            </span>
                        </p>
                    </div>
                    <div class="hb-btnarea">
                        <a href="booking.html" class="hb-btn">Book Now</a>&nbsp;&nbsp;&nbsp;<a href="tel:9725468020" class="hb-btn">Call Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    END APPOINTMENT   -->
<!-- -------------------- -->
