
@{
    ViewBag.Title = "Services";
}
<link rel="stylesheet" href="~/Content/css/menu.css">
<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hb-innerbanner-area service">
                    <div class="hb-bannarheading">
                        <h1>Services</h1>
                    </div>
                    <ul class="hb-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="kopa-section hb-sectionspace">
    <div class="container-fluid">
        <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
            <div class="hb-sectionhead">
                <div class="hb-sectiontitle v3">
                    <h2>
                        <span>Sunnyvale Nail Bar</span>
                        Services
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="widget widget-menu">
                <div class="widget-content">
                    <div class="divider style-1">
                        <span><img src="~/Content/img/services/title.png" alt="Sunnyvale Nail Bar"></span>
                    </div>
                    <article class="entry-item style-1">
                        <div class="entry-thumb left-img">
                            <img src="~/Content/img/services/35.jpg" alt="Sunnyvale Nail Bar">
                            <img src="~/Content/img/services/38.jpg" alt="Sunnyvale Nail Bar">
                        </div>
                        <div class="entry-content" id="cat1">
                            <h4>PEDICURES</h4>
                            <ul>
                                <br>
                                <li>
                                    <h6>The Royal Spa CBD </h6> <span>86</span>
                                </li>
                                <br>
                                <p class="service-p">• Gold<br>• Peach Paradise<br>• Havana Secret</p>
                                <li>
                                    <h6>The Elegant Spa </h6> <span>76</span>
                                </li>
                                <br>
                                <p class="service-p">• Honey Pearl<br>• Tropical<br>• Orange No. 5</p>
                                <li>
                                    <h6>The Organic </h6> <span>66</span>
                                </li>
                                <br>
                                <p class="service-p">
                                    • Lavender Lace<br>• Crystal Water<br>• Perfume No. 5
                                </p>
                                <li>
                                    <h6>The Freshly Spa </h6> <span>56</span>
                                </li>
                                <br>
                                <p class="service-p">• Milk & Honey<br>• Aloe Vera<br>• Green Tea</p>
                                <li>
                                    <h6>The Deluxe Spa </h6> <span>46</span>
                                </li>
                                <br>
                                <li>
                                    <h6>The Hot Stone </h6> <span>39</span>
                                </li>
                                <br>
                                <li>
                                    <h6>The Classic </h6> <span>29</span>
                                </li>
                                <br>
                            </ul><br>
                        </div>
                    </article>
                    <div class="divider style-1">
                        <span><img src="~/Content/img/services/title.png" alt="Sunnyvale Nail Bar"></span>
                    </div>
                    <article class="entry-item style-2">
                        <div class="entry-thumb right-img">
                            <img src="~/Content/img/services/manicure-1.jpg" alt="Sunnyvale Nail Bar">
                            <img src="~/Content/img/services/manicure-2.jpg" alt="Sunnyvale Nail Bar">
                        </div>

                        <div class="entry-content">
                            <h4>MANICURE</h4>
                            <ul>
                                <br>
                                <li>
                                    <h6>The Royal Spa CBD </h6> <span>46</span>
                                </li>
                                <br>
                                <p class="service-p">• Gold<br>• Peach Paradise<br>• Havana Secret</p>
                                <li>
                                    <h6>The Elegant Spa </h6> <span>40</span>
                                </li>
                                <br>
                                <p class="service-p">• Honey Pearl<br>• Tropical<br>• Orange No. 5</p>
                                <li>
                                    <h6>The Organic </h6> <span>35</span>
                                </li>
                                <br>
                                <p class="service-p">
                                    • Lavender Lace<br>• Crystal Water<br>• Perfume No. 5
                                </p>
                                <li>
                                    <h6>The Freshly Spa </h6> <span>33</span>
                                </li>
                                <br>
                                <p class="service-p">• Milk & Honey<br>• Aloe Vera<br>• Green Tea</p>
                                <li>
                                    <h6>The Deluxe Spa </h6> <span>30</span>
                                </li>
                                <br>
                                <li>
                                    <h6>The Hot Stone </h6> <span>29</span>
                                </li>
                                <br>
                                <li>
                                    <h6>The Classic </h6> <span>17</span>
                                </li>
                                <br>
                            </ul><br>
                        </div>
                    </article>
                    <div class="divider style-1">
                        <span><img src="~/Content/img/services/title.png" alt="Sunnyvale Nail Bar"></span>
                    </div>
                    <article class="entry-item style-1">
                        <div class="entry-thumb left-img">
                            <img src="~/Content/img/services/27.jpg" alt="Sunnyvale Nail Bar">
                            <img src="~/Content/img/services/26.jpg" alt="Sunnyvale Nail Bar">
                        </div>
                        <div class="entry-content" id="cat2">
                            <h4>DIPPING GEL</h4>
                            <ul>
                                <li>
                                    <h6>Dipping on Natural Nails</h6> <span>35</span>
                                </li>
                                <li>
                                    <h6>Add Tip</h6> <span>5</span>
                                </li>
                                <li>
                                    <h6>Dipping Ombre</h6> <span>55</span>
                                </li>
                                <li>
                                    <h6>Dipping & Classic Manicure</h6> <span>47</span>
                                </li>
                                <li>
                                    <h6>Dipping & Deluxe Manicure</h6> <span>65</span>
                                </li>
                                <li>
                                    <h6>Dipping & Organic Manicure</h6> <span>70</span>
                                </li>
                            </ul><br>
                            <h4>Solar/Pink & White</h4>
                            <ul>
                                <li>
                                    <h6>Full Set </h6> <span>45</span>
                                </li>
                                <li>
                                    <h6>Fill </h6> <span>40</span>
                                </li>
                                <li>
                                    <h6>Fill Pink</h6> <span>25</span>
                                </li>
                                <li>
                                    <h6>Take Off w/ Service </h6> <span>5</span>
                                </li>
                            </ul><br>
                            <h4>Acrylic</h4>
                            <ul>
                                <li>
                                    <h6>Full Set Color Powder</h6> <span>45</span>
                                </li>
                                <li>
                                    <h6>Full Set Ombre</h6> <span>55</span>
                                </li>
                                <li>
                                    <h6>Fill Color Powder (Same Color)</h6> <span>30</span>
                                </li>
                                <li>
                                    <h6>Fill Color Powder (Different Color)</h6> <span>40</span>
                                </li>
                                <li>
                                    <h6>Regular Full Set</h6> <span>35</span>
                                </li>
                                <li>
                                    <h6>Regular Full-in</h6> <span>30</span>
                                </li>
                                <li>
                                    <h6>Add Gel</h6> <span>20</span>
                                </li>
                            </ul><br>
                        </div>
                    </article>
                    <div class="divider style-1">
                        <span><img src="~/Content/img/services/title.png" alt="Sunnyvale Nail Bar"></span>
                    </div>
                    <article class="entry-item style-2">
                        <div class="entry-thumb right-img">
                            <img src="~/Content/img/services/kids.jpg" alt="Sunnyvale Nail Bar">
                        </div>
                        <div class="entry-content" id="cat3">
                            <h4>KIDS</h4>
                            <span>(12 &amp; under)</span>
                            <ul>
                                <br>
                                <li>
                                    <h6>Classic Pedicure </h6> <span>20</span>
                                </li>
                                <li>
                                    <h6>Deluxe Pedicure </h6> <span>30</span>
                                </li>
                                <br>
                                <li>
                                    <h6>Manicure </h6> <span>10</span>
                                </li>
                                <li>
                                    <h6>Polish Change Hand </h6> <span>6</span>
                                </li>
                                <br>
                                <li>
                                    <h6>Polish Change Feet </h6> <span>8</span>
                                </li>
                                <br>
                                <li>
                                    <h6>Design </h6> <span>5+</span>
                                </li>
                            </ul><br>
                        </div>
                    </article>
                    <article class="entry-item style-1">
                        <div class="entry-thumb left-img">
                            <img src="~/Content/img/services/lash.jpg" alt="Sunnyvale Nail Bar">
                            <img src="~/Content/img/services/23.jpg" alt="Sunnyvale Nail Bar">
                        </div>
                        <div class="entry-content" id="cat4">
                            <h4>Eyelash Extensions</h4>
                            <ul>
                                <li>
                                    <h6>Lash Extensions </h6> <span>100+</span>
                                </li>
                                <li>
                                    <h6>Fill </h6> <span>60+</span>
                                </li>
                            </ul><br>
                            <h4>WAXING</h4>
                            <ul>
                                <li>
                                    <h6>Eyebrows </h6> <span>10</span>
                                </li>
                                <li>
                                    <h6>Lip </h6> <span>7</span>
                                </li>
                                <li>
                                    <h6>Eyebrows & Tint</h6> <span>30</span>
                                </li>
                                <li>
                                    <h6>Sideburn </h6> <span>12</span>
                                </li>
                                <li>
                                    <h6>Chin </h6> <span>10</span>
                                </li>
                                <li>
                                    <h6>Under Arm </h6> <span>20</span>
                                </li>
                                <li>
                                    <h6>Full Arm </h6> <span>40</span>
                                </li>
                                <li>
                                    <h6>Full Leg </h6> <span>50</span>
                                </li>
                                <li>
                                    <h6>Half Leg</h6> <span>30</span>
                                </li>
                                <li>
                                    <h6>Full Face</h6> <span>35</span>
                                </li>
                                <li>
                                    <h6>Bikini </h6> <span>35+</span>
                                </li>
                                <li>
                                    <h6>Brazilian </h6> <span>50+</span>
                                </li>
                                <li>
                                    <h6>Back </h6> <span>50</span>
                                </li>
                            </ul><br>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<a onclick="cat1()" id="a1"></a>
<a onclick="cat2()" id="a2"></a>
<a onclick="cat3()" id="a3"></a>
<a onclick="cat4()" id="a4"></a>
<script>
    function cat1() {
        var scrollDiv = document.getElementById("cat1").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
    }
    function cat2() {
        var scrollDiv = document.getElementById("cat2").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
    }
    function cat3() {
        var scrollDiv = document.getElementById("cat3").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
    }
    function cat4() {
        var scrollDiv = document.getElementById("cat4").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
    }
</script>