
@{
    ViewBag.Title = "Specials";
}
<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hb-innerbanner-area service">
                    <div class="hb-bannarheading">
                        <h1>PROMOTIONS</h1>
                    </div>
                    <ul class="hb-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Promotions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="hb-appointment" class="hb-appointment v4 hb-sectionspace hb-haslayout bg-7">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <figure class="hb-appointmentimg">
                    <img src="img/promo-3.jpg" alt="Sunnyvale Nail Bar">
                </figure>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class="hb-sectionhead">
                    <div class="hb-sectiontitle">
                        <h2>
                            <span>Sunnyvale Nail Bar</span>
                            SEPTEMBER PROMOTION
                        </h2>
                    </div>
                </div>
                <div class="hb-appointmentcontent">
                    <h3>10 % OFF service $40 and Up</h3>
                    <div class="hb-description">
                        <p>Monday - Sunday</p>
                    </div>
                    <div class="hb-btnarea">
                        <a href="booking.php" class="hb-btn">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -------------------- -->
<!--    START SERVICES    -->
<section id="hb-services" class="hb-services v2 hb-sectionspace hb-bg hb-haslayout pb50">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                <div class="hb-sectionhead mb-50">
                    <div class="hb-sectiontitle">
                        <h2 class="text-capitalize">
                            <span>Sunnyvale Nail Bar</span>
                            our services
                        </h2>
                    </div>
                </div>
            </div>
            <div class="hb-servicesarea hb-haslayout">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="img/services/1.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Manicure & Pedicure</h3>
                            <div class="hb-description">
                                <p>Relax and get pampered with many kind of services</p>
                            </div>
                            <a href="services.html?cat=1" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="img/services/3.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Dipping & Gel Nails</h3>
                            <div class="hb-description">
                                <p>From Solar Nails, Dipping Nails or Gel Nails, we have it all</p>
                            </div>
                            <a href="services.html?cat=2" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="img/services/waxing.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Waxing</h3>
                            <div class="hb-description">
                                <p>We do body & facial waxing for men & women</p>
                            </div>
                            <a href="services.html?cat=3" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-servicebox">
                        <figure class="hb-serviceimg">
                            <img src="img/services/lash.jpg" alt="Sunnyvale Nail Bar">
                        </figure>
                        <div class="hb-servicecontent">
                            <h3 class="hb-headingtree">Eyelash Extensions</h3>
                            <div class="hb-description">
                                <p>Look exquisite with a pair of long, naturally beautiful lashes</p>
                            </div>
                            <a href="services.html?cat=4" class="hb-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--      END SERVICES    -->
<!-- -------------------- -->